.repository {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 15px;
    border: 1px solid black;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    img {
        height: 100px;
    }
}