.search-form {
    form {
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        justify-content: space-between;
        
        button {
            margin: 0 10px 0 0;
            padding: 15px 45px;
            appearance: none;
            box-shadow: none;
            border-radius: 0;

            &:focus {
                outline: none;
            }
        }
    }
}